[user]
  name = Leo Shaw
  email = leo@leoshaw.co.uk
[alias]
  st = status
  pr = pull --rebase
  co = checkout
  pick = cherry-pick
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[merge]
  conflictstyle = diff3
[rerere]
  enabled = true
[push]
  default = current
[core]
	autocrlf = true
